<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "title" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "css/reset.css" | asset_url }}">
    <link rel="stylesheet" href="{{ "css/style.css" | asset_url }}">
    {{ template "style" }}
    {{ template "inline_style" }}
</head>
<body>
<header class="header">
    <div class="header-inner">
        <nav class="main-nav">
            <div class="nav-logo">
                <a href="/">
                    <img src="{{ "images/logo-white.png" | asset_url }}" />
                </a>
            </div>
            <ul class="nav-list">
                <li class="top-register"><a href="{{ "get_register" | url }}"><span>Register</span></a></li>
                <li class="top-login"><a href="{{ "get_login" | url }}"><span>Login</span></a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="content-wrapper">
    <div class="content-inner">
        {{ template "content" }}
    </div>
</div>
<script src="{{ "js/jquery-3.4.1.js" | asset_url }}"></script>
<script src="{{ "js/bootstrap.min.js" | asset_url }}"></script>

{{ template "javascript" }}
{{ template "inline_script"}}
</body>
</html>