{{ define "root"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Octocv - We help people find their dream job</title>
    <link rel="stylesheet" href="/assets/frontend/css/master.css">
    <link rel="stylesheet" href="/assets/frontend/css/layout.css">
</head>
<body>
<main class="__layout-master">
    <header class="_fwfl header">
        <div class="_fwfl header-inside">
            <nav class="navbar navbar-expand-lg navbar-main">
                <a class="navbar-brand" href="#">OCTOCV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav _fr">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hire us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</main>
{{ template "content" }}
</body>
</html>
{{ end }}