{{ define "title" }}
    Password reset | Octocv
{{ end }}

{{ define "header" }}
    {{ "not_mem" | trans }} <a href="{{ "get_register" | url }}">{{ "register_now" | trans }}</a>
{{ end }}

{{ define "content" }}
    <div class="auth-container auth-forgot-pass">
        <h2 class="auth-title">{{ "reset_pass" | trans }}</h2>
        <section class="password-instruction">
            <p>{{ "reset_pass_instruction1" | trans }}</p>
            <p>{{ "reset_pass_instruction2" | trans }}</p>
        </section>
        <section class="form-oldschool">
            <form action="{{ url "post_update_password" "token" .Resp.Token }}" method="post" class="auth-form" data-form-required="password">
                <div class="auth-form-row">
                    <label for="password">
                        {{ if form_has_msg .Errors "password" }}
                            <div class="form-error">
                                <strong>{{ "new_pass" | trans }}</strong> <span>{{ form_msg .Errors "password" }}</span>
                            </div>
                        {{ else }}
                            <strong>{{ "new_pass" | trans }}</strong>
                        {{ end }}
                    </label>
                    <input type="password" name="password" id="password" tabindex="1"/>
                </div>
                <div class="auth-form-row submit-btn-row">
                    <button type="submit" tabindex="3">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/>
                        </svg>
                    </button>
                </div>
                {{ .Vars.CsrfField }}
            </form>
        </section>
    </div>
{{ end }}