.__layout-master {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.navbar-main {
    background-color: #333;
}
.navbar-main .navbar-nav li a {
    color: #999;
}
.navbar-main .navbar-nav li a:hover {
    color: #ddd;
}