<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404 page not found.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ "css/reset.css" | asset_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/error.css" | asset_url }}">
    <style>
        .error-wrapper div.error-logo a span {
            background-image: url("{{ "images/logo-dark.png" | asset_url }}");
        }
    </style>
</head>
<body>
    <div class="error-wrapper">
        <div class="error-inner">
            <div class="error-logo">
                <a href="/">
                    <span></span>
                </a>
            </div>
            <div class="error-content">
                <p class="err-title"><strong>{{ .ErrorCode }}.</strong> <span>{{ .ErrorTitle }}.</span></p>
                <p class="err-txt">{{ .ErrorContent }}. <ins>We're sorry about that.</ins></p>
            </div>
        </div>
    </div>
</body>
</html>